# Backups
*.bak
*.backup

# Node
node_modules/

# Logs
logs/
*.log

# Build artifacts
build/
dist/
coverage/

# Database locale
data/juiceshop.sqlite

# Fichiers générés par le build
i18n/*.json
ftp/legal.md

# Ancien projet
Jenkinsfile.old

# Fichiers temporaires
*.tmp
*.swp
.DS_Store
README-juiceshop-original.md
